.flex-container {
  display: flex;
  flex: 1;
}

.flex-column {
  flex: 1;
  height: 100vh;
  border: 0.5px solid #ccc;
  padding: 20px;
  overflow: scroll;
}

.highlight {
  border: 1px solid #ccc;
  padding: 24px;
  margin-top: 24px;
  margin-bottom: 24px;
}
